:root {
  --primary-color: #646cff;
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
