name: Deploy Backend to Azure

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

env:
  AZURE_WEBAPP_NAME: Music-Playlist-Generator # set this to your application's name
  PYTHON_VERSION: "3.9" # set this to the python version to use

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python version
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: |
          cd backend
          pip install -r requirements.txt

      # Optional: Build step if you need to compile things

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: "./backend"
